name: unit tests

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  GeoIpVer: 202601220433
  GeoDatVer: 20260203145437
  V2flyUrl: https://github.com/v2fly
  # https://github.com/v2fly/geoip/releases/download/202601220433/geoip.dat
  # ${V2flyUrl}/$file/releases/download/${GeoDatVer}/$file

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:

      - name: Restore Geodat Cache
        uses: actions/cache/restore@v5
        with:
          path: resources
          key: xray-geodat-

      - name: Update Geodat
        id: update-geodat
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 60
          retry_wait_seconds: 60
          max_attempts: 60
          command: |
            [ -d 'resources' ] || mkdir resources
            LIST=("geoip geoip geoip ${GeoIpVer}" "domain-list-community dlc geosite ${GeoDatVer}")
            for i in "${LIST[@]}"
            do
              INFO=($(echo $i | awk 'BEGIN{FS=" ";OFS=" "} {print $1,$2,$3,$4}'))
              FILE_NAME="${INFO[2]}.dat"
              echo -e "Verifying HASH key..."
              # https://github.com/v2fly/geoip/releases/download/202601220433/geoip.dat
              FILE_URL="${V2flyUrl}/${INFO[0]}/releases/download/${INFO[3]}/${INFO[1]}.dat"
              echo -e "Fetch hash of file: ${FILE_URL}"
              HASH="$(curl -sL "${FILE_URL}.sha256sum" | awk -F ' ' '{print $1}')"
              if [ -s "./resources/${FILE_NAME}" ] && [ "$(sha256sum "./resources/${FILE_NAME}" | awk -F ' ' '{print $1}')" == "${HASH}" ]; then
                echo "using cached: ./resources/${FILE_NAME}"
                continue
              else
                echo -e "Download file: ${FILE_URL}"
                curl -L "${FILE_URL}" -o ./resources/${FILE_NAME}
                echo -e "Verifying HASH key..."
                [ "$(sha256sum "./resources/${FILE_NAME}" | awk -F ' ' '{print $1}')" == "${HASH}" ] || { echo -e "The HASH key of ${FILE_NAME} does not match cloud one."; exit 1; }
                echo "unhit=true" >> $GITHUB_OUTPUT
              fi
            done

      - name: Save Cache
        uses: actions/cache/save@v5
        if: ${{ steps.update-geodat.outputs.unhit }}
        with:
          path: resources
          key: xray-geodat-${{ github.sha }}-${{ github.run_number }}

  test:
    needs: prepare
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # 高贵的 mac 系统，，，滚！
        # os: [windows-latest, ubuntu-latest, macos-12]
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Restore Geodat Cache
        uses: actions/cache/restore@v4
        with:
          path: resources
          key: xray-geodat-
          enableCrossOsArchive: true

      - name: Test
        run: go test -timeout 1h -v ./...
